// include bootstrap-sass
@import 'bootstrap';
@import '../static/bower_components/fullcalendar/dist/fullcalendar.min.css';
@import '../static/bower_components/eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build';
@import '../static/bower_components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css';
@import '../static/bower_components/SpeechKITT/dist/themes/flat-clouds.css';
@import 'header';

ul {
  list-style-type: none;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: .6rem !important;
}

.mt-2 {
  margin-top: 1.2rem !important;
}

.mt-3 {
  margin-top: 1.8rem !important;
}

.mt-4 {
  margin-top: 2.4rem !important;
}

.mt-5 {
  margin-top: 3.6rem !important;
}

.mt-6 {
  margin-top: 4.2rem !important;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

.rounded-circle {
  border-radius: 50%;
}

.modal {
  z-index: 990;
}

.modal-backdrop {
  z-index: 940;
}

.date {
  padding: 15px;
}

.datepicker > div {
  display: block;
}

.no-padding {
  padding: 0;
}

.container {
  max-width: 1000px;
  min-width: 320px;

  > .row {
    margin-bottom: 50px;
  }

  @media (max-width: $screen-xs-max) {
    .row-xs-only {
      margin: 0 -15px;
    }
  }

  .sidebar {
    h3 {
      margin-top: 0;
    }

    li.active {
      background-color: $nav-link-hover-bg;
    }
  }

  footer {
    > div {
      background-color: $navbar-default-bg;
      border: 1px solid $gray-lighter;
      overflow: hidden;
      padding: 15px 15px 0;
    }
  }
}

.card,
.difficulty-filter,
.pagination > li > .difficulty-filter:hover {
  &.easy {
    background-color: $brand-success;
  }

  &.middle {
    background-color: $brand-warning;
  }

  &.difficult {
    background-color: $brand-danger;
  }

  &.flipped {
    transform: rotatey(-180deg);
  }

  .face {
    backface-visibility: hidden;
    z-index: 2;
  }
}

.sortable {
  min-height: 300px;
  padding-bottom: 100px;
}

#cards > .done .card-container + .card-container {
  margin-top: -150px;
}

.card-container {
  perspective: 800px;
  position: relative;
  text-align: center;

  .card {
    align-items: center;
    background-color: $table-bg;
    border: 1px solid $gray-light;
    border-radius: $border-radius-base;
    cursor: pointer;
    display: flex;
    display: -webkit-box;
    height: 100px;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
    transition: .5s;

    &.task {
      height: 200px;
    }

    .face {
      backface-visibility: hidden;
      width: 100%;
      z-index: 2;
    }

    .front {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      position: absolute;
      width: 100%;
      z-index: 1;
      &.task {
        flex-direction: column;
        justify-content: normal;
        padding: 15px 5px;
        overflow: hidden;
      }
    }

    .back {
      transform: rotatey(-180deg);
    }

    &.easy .face {
      background-color: $brand-success;
    }

    &.middle .face {
      background-color: $brand-warning;
    }

    &.difficult .face {
      background-color: $brand-danger;
    }

    .card-progress {
      bottom: 0;
      position: absolute;
      width: 100%;

      .determinate {
        background-color: green;
        height: 3px;
      }
    }
  }

  .front {
    .edit {
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 3;
    }
  }

  .inner {
    margin: 10px;
  }
}

.sortable-placeholder {
  height: 100px;
}

#links .sortable-placeholder {
  height: auto;
}

.difficulty-filters {
  overflow: hidden;
  padding: 12px 0;
}

.difficulty-filter {
  display: block;
  float: left;
  height: 20px;
  opacity: .3;
  width: 50px;
  &.color-filter {
    width: 40px;
  }

  &.active,
  &:hover {
    opacity: 1;
  }
}

.add-btn ~ .dataTables_wrapper {
  margin-top: -35px;

  .dataTables_filter {
    label {
      float: right;
    }
    input {
      -webkit-appearance: textfield;
    }
  }

  @media (max-width: 375px) {
    margin-top: 5px;
  }
}

.add-form {
  .form-group {
    input,
    textarea {
      padding: 5px 10px;
      resize: none;
      width: 100%;
    }
  }
}

.fc-event-container:hover {
  cursor: pointer;
}

.btn-spinning:not(:disabled) .spinning {
  display: none;
}
.btn-spinning .glyphicon.spinning {
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

#skitt-ui {
  overflow: hidden;
  z-index: 1050;
  a:hover {
    text-decoration: none;
  }
}

.palette-wrapper {
  .palette-item {
    padding: 0 5px;
  }
  .editable-container {
    position: relative;
    z-index: 2;
  }
  .palette-color {
    border-bottom: none;
    display: block;
    text-align: center;
    width: 100%;
  }
}

.profile .nav-tabs > li > a {
  margin-right: 0;
}
