beautifulsoup4==4.14.3
celery==5.6.2
channels==4.3.2
channels-redis==4.3.0
django-easy-select2==1.5.8
django-import-export==4.4.0
Django==6.0.2
django-phonenumber-field==8.4.0
django-redis==6.0.0
django-scheduler @ git+https://github.com/whoisearth/django-scheduler
django-widget-tweaks==1.5.1
geoip2==5.2.0
google-cloud-automl==2.18.1
gunicorn==25.0.3
Pillow==12.1.1
phonenumbers==9.0.23
psycopg2-binary==2.9.11
pytz==2025.2
requests==2.32.5
social-auth-app-django==5.7.0
social-auth-core==4.8.5
