{% extends parent_template %}
{% load i18n %}
{% block content %}
  <div class="container-fluid">
    <textarea name="content" id="text-content" class="col-md-12" rows="10" cols="60" data-placeholder="Type or paste your content here"></textarea>
    <button id="compress" class="col-md-4 btn btn-default">{% trans "compress" %}</button>
    <button id="decompress" class="col-md-4 btn btn-default">{% trans "decompress" %}</button>
    <div class="col-md-12 alert-info" role="alert" style="padding: 5px 20px;">
        <span id="count-characters">0</span>
    </div>
  </div>
    <script type="text/javascript">

        


    if("undefined" == typeof jQuery) {
      window.onload = function() {
        init_app();
      };
    }
    else {
      init_app();
    }
    function init_app() {
      var $textarea = $('#content #text-content').first();

      $textarea.bind('input propertychange', function() {
        $('#content #count-characters').text($textarea[0].textLength);
      });
      $('#content #compress').click(function(event) {
        $textarea.val(LZString.compress($textarea.val()));
      });
      $('#content #decompress').click(function(event) {
        $textarea.val(LZString.decompress($textarea.val()));
      });
    }
    </script>
{% endblock %}
