{% extends parent_template %}
{% load i18n %}
{% block content %}
    <h2>{% trans "Convert image to base64" %}</h2>
    <span class="btn btn-default btn-file">
        <input type="file"  id="asd"/>
    </span>
    <img id="img" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="preview" style="display: none;"/>
    <p id="base" style="word-wrap: break-word;"></p>
    <script type="text/javascript">
        function el(id){return document.getElementById(id);}

        function readImage() {
            if ( this.files && this.files[0] ) {
                var FR= new FileReader();
                FR.onload = function(e) {
                     el("img").src = e.target.result;
                     el("base").innerHTML = e.target.result;
                };
                FR.readAsDataURL( this.files[0] );
            }
        }

        el("asd").addEventListener("change", readImage, false);
    </script>
{% endblock %}
