{% extends parent_template %}
{% load i18n %}

{% block title %}{% trans "Image to base64" %}{% endblock %}
{% block description %}{% trans "Covert image to base64 format" %}{% endblock description %}

{% block content %}
    <h2>{% trans "Convert image to base64" %}</h2>
    <span class="btn btn-default btn-file">
        <input type="file"  id="asd"/>
    </span>
    <img id="img" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="preview" style="display: none;"/>
    <p id="base" style="word-wrap: break-word;"></p>
    <script type="text/javascript">
        function readImage() {
            if (this.files && this.files[0]) {
                var FR= new FileReader();
                FR.onload = function(e) {
                    document.getElementById("img").src = e.target.result;
                    document.getElementById("base").innerHTML = e.target.result;
                };
                FR.readAsDataURL(this.files[0]);
            }
        }

        // Dynamically set page title and description.
        document.title = '{% trans "Convert image to base64" %}';
        document.head.querySelector('meta[name=description]').content = '{% trans "Covert image to base64 format" %}';

        document.getElementById("asd").addEventListener("change", readImage, false);
    </script>
{% endblock %}
