{% extends parent_template %}
{% load i18n %}
{% block content %}
  <div class="container-fluid">
	  <h2 class="pull-left">{% trans "Jira logs" %}</h2>
	  <textarea name="jira-logs" id="jira-logs" class="col-xs-12" rows="10" cols="60" data-placeholder="Type or paste your content here"></textarea>
	  <p class="col-xs-12 text-muted">{% trans "YYY-999 Log message. 8h" %}</p>
      <h2 class="pull-left">{% trans "Lab logs" %}</h2><h3 class="pull-right"><span  id="time-sum">0</span>h</h3>
	  <textarea name="lab-logs" id="lab-logs" disabled="disabled" class="col-xs-12" rows="10" cols="60" data-placeholder="Type or paste your content here"></textarea>
  </div>
  <script type="text/javascript">
    if("undefined" == typeof jQuery) {
      window.onload = function() {
        init_app();
      };
    }
    else {
      init_app();
    }
    function init_app() {
    	var $jira_logs = $('#content #jira-logs').first(),
            $lab_logs = $('#content #lab-logs').first(),
            $time_sum = $('#content #time-sum').first(),
            lines,
    	    matches,
    	    i;

    	$jira_logs.bind('input propertychange', function() {
    	    $lab_logs.val('');
    	    $time_sum.text(0);
    	    lines = $jira_logs.val().split('\n');

    	    for (i = 0; i < lines.length; i += 1) {
                matches = lines[i].match(/(^[A-Z]{3}-\d+)\s(.+)\s(\d+(?:\.\d+|)h$)/);
                if (matches && matches.length == 4 && matches[1].length && matches[2].length && matches[3].length) {
                    $lab_logs.val($lab_logs.val() + matches[1] + '{' + matches[3] + '} ' + matches[2] + ' ');
                    $time_sum.text(parseFloat($time_sum.text()) + parseFloat(matches[3]));
                }
                else {
                    $lab_logs.val('You have errors in your Jira logs. Line: ' + (i+1));
                    break;
                }
    	    }
		});
    }
  </script>
{% endblock %}
