{% extends parent_template %}
{% load i18n %}

{% block title %}{% trans "Unit convector" %}{% endblock %}
{% block description %}{% trans "Convert units for temperature, distance, volume, area, mass." %}{% endblock description %}

{% block content %}
  <style scoped>
    label {
      padding: 6px 12px;
    }
  </style>

  <div class="panel-group" id="units">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#units" href="#temperature">{% trans "Temperature" %}</a>
        </h4>
      </div>
      <div id="temperature" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="form-group col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="temp-C" class="form-control">
            </div>
            <label for="temp-C" class="control-label text-left col-xs-2">°C</label>
          </div>
          <div class="form-group col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="temp-F" class="form-control">
            </div>
            <label for="temp-F" class="control-label text-left col-xs-2">°F</label>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#units" href="#distance">{% trans "Distance" %}</a>
        </h4>
      </div>
      <div id="distance" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="dist-km" class="form-control conversion" data-cc="1">
            </div>
            <label for="dist-km" class="control-label text-left col-xs-2">km</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="dist-m" class="form-control conversion" data-cc="1000">
            </div>
            <label for="dist-m" class="control-label text-left col-xs-2">m</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="dist-mi" class="form-control conversion" data-cc="0.621371">
            </div>
            <label for="dist-mi" class="control-label text-left col-xs-2">mi</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="dist-mmi" class="form-control conversion" data-cc="0.539956803">
            </div>
            <label for="dist-mmi" class="control-label text-left col-xs-2">mmi</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="dist-yd" class="form-control conversion" data-cc="1093.6133">
            </div>
            <label for="dist-yd" class="control-label text-left col-xs-2">yd</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="dist-ft" class="form-control conversion" data-cc="3280.8399">
            </div>
            <label for="dist-ft" class="control-label text-left col-xs-2">ft</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="dist-in" class="form-control conversion" data-cc="39370.0787">
            </div>
            <label for="dist-in" class="control-label text-left col-xs-2">in</label>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#units" href="#volume">{% trans "Volume" %}</a>
        </h4>
      </div>
      <div id="volume" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="vol-L" class="form-control conversion" data-cc="1">
            </div>
            <label for="vol-L" class="control-label text-left col-xs-2">L</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="vol-gal" class="form-control conversion" data-cc="0.264172">
            </div>
            <label for="vol-gal" class="control-label text-left col-xs-2">gal</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="vol-cap" class="form-control conversion" data-cc="4.22675284">
            </div>
            <label for="vol-cap" class="control-label text-left col-xs-2">cups</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="vol-oz" class="form-control conversion" data-cc="33.8140227">
            </div>
            <label for="vol-oz" class="control-label text-left col-xs-2">oz</label>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#units" href="#area">{% trans "Area" %}</a>
        </h4>
      </div>
      <div id="area" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="vol-ha" class="form-control conversion" data-cc="1">
            </div>
            <label for="vol-ha" class="control-label text-left col-xs-2">ha</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="vol-ac" class="form-control conversion" data-cc="2.47105381">
            </div>
            <label for="vol-ac" class="control-label text-left col-xs-2">ac</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="vol-m2" class="form-control conversion" data-cc="10000">
            </div>
            <label for="vol-m2" class="control-label text-left col-xs-2">m2</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="vol-km2" class="form-control conversion" data-cc="0.01">
            </div>
            <label for="vol-km2" class="control-label text-left col-xs-2">km2</label>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#units" href="#mass">{% trans "Mass" %}</a>
        </h4>
      </div>
      <div id="mass" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="vol-kg" class="form-control conversion" data-cc="1">
            </div>
            <label for="vol-kg" class="control-label text-left col-xs-2">kg</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="vol-t" class="form-control conversion" data-cc="0.001">
            </div>
            <label for="vol-t" class="control-label text-left col-xs-2">T</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="vol-g" class="form-control conversion" data-cc="1000">
            </div>
            <label for="vol-g" class="control-label text-left col-xs-2">g</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="vol-oz-m" class="form-control conversion" data-cc="35.2739619">
            </div>
            <label for="vol-oz-m" class="control-label text-left col-xs-2">oz</label>
          </div>
          <div class="form-group conversion-container col-sm-6 col-xs-12">
            <div class="content-box col-xs-10">
              <input type="number" id="vol-lb" class="form-control conversion" data-cc="2.20462262">
            </div>
            <label for="vol-lb" class="control-label text-left col-xs-2">lb</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    if("undefined" == typeof jQuery) {
      window.onload = function() {
        init_app();
      };
    }
    else {
      init_app();
    }
    function init_app() {
      var $C = $('#content #temp-C').first();
      var $F = $('#content #temp-F').first();
      var $this;
      var value;
      var cc;

      // Temperature.
      $C.on('keyup change', function() {
        var value = parseFloat($(this).val(), 10);
        $F.val(parseFloat((value * 1.8 + 32).toFixed(2)));
      });
      $F.on('keyup change', function() {
        var value = parseFloat($(this).val(), 10);
        $C.val(parseFloat(((value - 32) / 1.8).toFixed(2)));
      });

      // Another units.
      $('.conversion').on('keyup change', function() {
         $this = $(this)
         value = parseFloat($this.val(), 10);
         cc = parseFloat($this.data('cc'), 10);
         $this.closest('.conversion-container').siblings().find('.conversion').each(function() {
            this.value = parseFloat((value / cc * this.getAttribute('data-cc')).toFixed(2));
         });
      });
    }
  </script>
{% endblock %}
