{% extends parent_template %}
{% load static from staticfiles %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div id="calendar"></div>
    <script type="text/javascript">
        if("undefined" == typeof jQuery) {
          window.onload = function() {
            init_app();
          };
        }
        else {
          init_app();
        }
        function init_app() {
            $('#calendar').fullCalendar({
                events: '/schedule/api/occurrences?calendar_slug={{ user.username }}'
            })
        }
    </script>
{% endblock content %}
