{% extends parent_template %}
{% load static from staticfiles %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <!-- Button trigger modal -->
    <button type="button" class="add-btn btn btn-default btn-md" data-toggle="modal" data-target="#add-event" data-annyang="add event">
      <span class="glyphicon glyphicon-plus"></span> {% trans "Add event" %}
    </button>

    <!-- Modal -->
    <div class="modal{% if form.errors %} error{% endif %}" id="add-event" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="add-label">{% trans "Add event" %}</h4>
          </div>
          <div class="modal-body">
            <form action="{{ form_action }}" method="post" class="add-form clearfix form-horizontal">
                {% csrf_token %}
                <div class="form-group hide">
                    <label class="control-label col-sm-2">id</label>
                    <div class="col-sm-10">
                        <input type="number" name="id" id="id_id">
                    </div>
                </div>
                {% for field in form %}
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                        <div class="col-sm-10">
                        {% if field.name == 'start' or field.name == 'end'  or field.name == 'end_recurring_period' %}
                            {{ field|add_class:"datetimepicker" }}
                        {% elif field.name == 'color_event' %}
                            {{ field|add_class:"jscolor" }}
                        {% elif field.name == 'rule' %}
                            {{ field|add_class:"form-control" }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                        </div>
                        {% if field.errors %}
                            <div class="alert alert-warning col-sm-10 pull-right" role="alert">
                              {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-md delete" style="display: none;">{% trans "Delete" %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    <button type="submit" class="btn btn-primary btn-md pull-right">{% trans "Save" %}</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="calendar"></div>
    <script type="text/javascript">
        if("undefined" == typeof jQuery) {
          window.onload = function() {
            init_app();
          };
        }
        else {
          init_app();
        }
        function init_app() {
            var $field;
            var $modal;
            var start;
            var end;

            $modal = $('#content').find('.modal');
            $end_recurring_period = $modal.find('#id_end_recurring_period').closest('.form-group');
            $end_recurring_period.hide();

            $('#calendar').fullCalendar({
                events: '/schedule/api/occurrences?calendar_slug={{ profile_user.username }}&timezone={{ profile.timezone }}',
                ignoreTimezone: false,
                timeFormat: 'H:mm',
                eventClick: function(calEvent, jsEvent, view) {
                    // Show modal, remove errors and set hidden id field.
                    $modal.modal();
                    $modal.find('.alert').remove();
                    $modal.find('#id_id').val(calEvent.event_id);
                    $modal.find('.btn.delete').show();
                    if (calEvent.rule) {
                        $end_recurring_period.show();
                    }

                    $modal.find('#id_title').val(calEvent.title);
                    $modal.find('#id_description').val(calEvent.description);
                    $modal.find('#id_start').val(moment(calEvent.start._i).format('YYYY-MM-DD HH:mm'));
                    $modal.find('#id_end').val(moment(calEvent.end._i).format('YYYY-MM-DD HH:mm'));
                    $modal.find('#id_color_event').val(calEvent.color.slice(1));
                    $modal.find('#id_color_event')[0].jscolor.importColor(calEvent.color.slice(1));
                    $modal.find('#id_rule option').each(function() {
                        if ($(this).text().indexOf(calEvent.rule) !== -1) {
                            $(this).attr("selected", "selected");
                        }
                    });

                },
                dayClick: function(date, jsEvent, view) {
                    $('#add-event').modal('show');
                },
                eventAfterRender: function (event, element) {
                    $(element).tooltip({
                        title:event.description,
                        container: "body"
                    });
                }
            });

            $('form .btn.delete').click(function() {
                result = confirm('{% trans "Are you sure you want to delete this event?" %}');
                if (result) {
                    pk = $(this).closest('form').find('#id_id').val();
                    $.ajax({
                        url: "{% url 'calendar' %}" + '/' + pk,
                        type: 'DELETE',
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader('X-CSRFTOKEN', '{{ csrf_token }}');
                        },
                        success: function(result) {
                            window.location.replace(result.redirect);
                        }
                    });
                }
                return false;
            });

            // Hide end of recurring period field.
            $(document).on('hidden.bs.modal', '.modal', function () {
                $end_recurring_period.hide();

            });

            $modal.find("#id_rule").change(function() {
                if ($(this).val()) {
                    $end_recurring_period.show();
                }
                else {
                    $end_recurring_period.hide();
                }
            });
        }
    </script>
{% endblock content %}
