{% extends parent_template %}
{% load static from staticfiles %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{{ page_title }}{% endblock %}
{% block description %}{% trans "Instantly share code, notes, and snippets." %}{% endblock description %}

{% block content %}
    <style>
        .cke_bottom {
            display: none !important;
        }
        form .btn-danger {
          margin-right: 15px;
        }
        .select2-container {
            display: block;
        }
    </style>

    <h2>{% trans "Code snippets" %}</h2>

    {% if codes %}
        <table id="codes" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Labels" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for code in codes %}
                    <tr>
                        <td><a href="{% url 'code_slug' code.slug %}" class="ajax-link">{{ code.title }}</a></td>
                        <td>
                            {% for label in code.labels__title %}
                                <a class="ajax-link" href="{% url 'code' %}?label={{ label }}">{{ label }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>{% trans "Add Code snippet" %}</h3>
    {% endif %}

    <form method="post" class="add-form clearfix form-horizontal">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label class="col-sm-12" for="{{ field.auto_id }}">{{ field.label_tag }}</label>
                <div class="col-sm-12">
                    {% if field.name == 'text' %}
                        {{ field|add_class:"ckeditor" }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                    <small class="text-muted">{{ field.help_text }}</small>
                </div>
                {% if field.errors %}
                    <div class="col-sm-12" role="alert">
                        <div class="alert alert-warning" >
                            {{ field.errors }}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {% if save_btn %}
            <button type="submit" class="btn btn-primary btn-md pull-right">{% trans "Save" %}</button>
        {% endif %}
        {% if delete_btn %}
            <button type="submit" class="btn btn-danger btn-md pull-right">{% trans "Delete" %}</button>
        {% endif %}
    </form>


    <script type="text/javascript">
        // Dynamically set page title and description.
        document.title = '{{ page_title }}';
        document.head.querySelector('meta[name=description]').content = '{% trans "Instantly share code, notes, and snippets." %}';

        if("undefined" == typeof jQuery) {
            window.onload = function() {
                init_app();
            };
        }
        else {
            init_app();
        }
        function init_app() {
            $('#id_labels').select2({
                dropdownAutoWidth : true,
                width: 'auto'
            });
        }
    </script>
    <script type="text/javascript" src="{% static 'bower_components/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/code.js' %}" defer></script>

{% endblock %}
