{% extends parent_template %}
{% load i18n %}
{% load widget_tweaks %}
{% load static from staticfiles %}
{% block content %}
    <!-- Modal -->
    <div class="modal{% if form.errors %} error{% endif %}" id="add-card" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="add-card-label">{% trans "Add card" %}</h4>
          </div>
          <div class="modal-body">
            <form action="{{ form_action }}" method="post" class="add-form clearfix form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ field }}
                        </div>
                        {% if field.errors %}
                            <div class="alert alert-warning col-sm-10 pull-right" role="alert">
                              {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                  <button type="submit" class="btn btn-primary btn-md pull-right">{% trans "Save" %}</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid no-padding row cards-filters">
      <div class="col-md-4">
        <!-- Button trigger modal -->
        <button type="button" class="add-btn btn btn-default btn-md" data-toggle="modal" data-target="#add-card" data-annyang="add card">
          <span class="glyphicon glyphicon-plus"></span> {% trans "Add card" %}
        </button>
      </div>
      <div class="col-md-4 col-sm-6">
        <ul class="difficulty-filters">
          <li><a href="#" class="difficulty-filter difficult active" data-difficulty="difficult"></a></li>
          <li><a href="#" class="difficulty-filter middle active" data-difficulty="middle"></a></li>
          <li><a href="#" class="difficulty-filter easy active" data-difficulty="easy"></a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group pull-right">
          <input id="card-search" type="text" class="form-control" placeholder="Search">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div>
    <div id="cards" class="row sortable">
        {% for card in cards %}
        <div class="card-container col-md-6" data-difficulty="{{ card.difficulty }}" data-word="{{ card.word }}" data-id="{{ card.id }}">
            <div class="flip">
                <div class="card {{ card.difficulty }}">
                    <div class="face front">
                        <h4 class="list-group-item-heading">{{ card.word }}</h4>
                        <a href="admin/tool/card/{{ card.id }}/change/" class="edit">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="face back">
                        <div class="inner text-center">
                            <p class="list-group-item-text">{{ card.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-md-6">
            {% trans "No cards" %}
        </div>
        {% endfor %}
    </div>

    <script type="text/javascript" defer>
      if("undefined" == typeof jQuery) {
        window.onload = function() {
          init_app();
        };
      }
      else {
        init_app();
      }

      function init_app() {
        var $cards = $('#cards');
        var $this;
        var $difficulty_filters = $('.difficulty-filter');
        var $card_search = $('#card-search');
        var substring;
        var order;

        $('.sortable').sortable({
          placeholderClass: 'col-md-6'
        }).on('sortupdate', function(e, ui) {
          if (!$cards.hasClass('disabled')) {
            order = {};
            $cards.find('.card-container').each(function(index) {
              order[$(this).data('id')] = index;
            });
            $.post("{% url 'card_order' user.username %}", {
              order: JSON.stringify(order),
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            }, function() {
              $cards.addClass('disabled');
            })
            .always(function() {
              $cards.removeClass('disabled');
            });
          }
        });

        $difficulty_filters.click(function() {
          $this = $(this);
          $this.toggleClass('active');
          $cards.find('.card-container[data-difficulty=' + $this.data('difficulty') + ']').toggle().toggleClass('difficulty-hidden');

          return false;
        });

        $card_search.on('input',function(e) {
          substring = this.value;

          $cards.find('.card-container:not(.difficulty-hidden)').each(function(index) {
            $this = $(this);
            if ($this.data('word').indexOf(substring) !== -1) {
              $this.show();
            }
            else {
              $this.hide();
            }
          });
        });
      }
    </script>
{% endblock %}
