{% extends parent_template %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Flights" %}{% endblock %}
{% block description %}{% trans "Check tickets price for specified date." %}{% endblock description %}

{% block content %}
    <style>
      #id_round_trip {
        width: 24px;
      }
    </style>

    <div class="bg-white">
        <div>
            <div class="col-lg-12">
                <h2 class="mt-2">{% trans "Check tickets" %}</h2>
                <form action="{% url 'flights' %}" method="post" id="check-flights" class="row clearfix mt-5">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group clearfix">
                            <label class="col-sm-3 col-form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            <div class="col-sm-9">
                                {% if field.name == 'date_start' or field.name == 'date_back' %}
                                    {{ field|add_class:"form-control"|add_class:"datetimepicker-date" }}
                                {% else %}
                                    {{ field|add_class:"form-control" }}
                                {% endif %}
                            </div>
                        </div>
                        {% if field.errors %}
                            <div class="alert alert-warning col-sm-9 offset-sm-3" role="alert">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-default btn-spinning pull-right">
                            <span class="glyphicon glyphicon-refresh spinning"></span>
                            <span>{% trans "Check tickets" %}</span>
                        </button>
                    </div>
                </form>
                <h2 class="pull-left">{% trans "Flights" %}</h2>
                <table class="table flights">
                    <thead>
                        <tr>
                            <th>Price (USD)</th>
                            <th>Stops</th>
                            <th>Duration</th>
                            <th>Slice</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
      if("undefined" == typeof jQuery) {
        window.onload = function() {
          init_app();
        };
      }
      else {
        init_app();
      }
      function init_app() {
        var $tbody = $('#content table.flights tbody').first();
        var $form = $('#content #check-flights').first();
        var $submit_btn = $form.find('[type="submit"]').first();
        var $date_back = $form.find('#id_date_back').parents().eq(1);
        var odd_even;
        var tbl_body;
        var tbl_row;
        var fly;

        // Dynamically set page title and description.
        document.title = '{% trans "Flights" %}';
        document.head.querySelector('meta[name=description]').content = '{% trans "Check tickets price for specified date." %}';

        $('#id_round_trip').change(function() {
          $date_back.toggle(this.checked);
        }).change();

        $form.submit(function(e) {
          $submit_btn.prop('disabled', true);
          $tbody.html('');
          tbl_body = '';
          odd_even = false;

          $.ajax({
            type: 'POST',
            url: $form.attr('action'),
            dataType: 'json',
            data: $form.serialize(),
            success: function(data) {
              if ('status' in data) {
                tbl_body = data['status'] + ' ' + data['statusText'];
              }
              else {
                for (fly in data) {
                  tbl_row = '';

                  tbl_row += '<td><p>' + data[fly].price + '</p></td>';
                  tbl_row += '<td><p>' + data[fly].slice[0].stops + (1 in data[fly].slice ? '<p>' + data[fly].slice[1].stops + '</p>' : '') + '</p></td>';
                  tbl_row += '<td><p>' + data[fly].slice[0].duration + (1 in data[fly].slice ? '<p>' + data[fly].slice[1].duration + '</p>' : '') + '</p></td>';
                  tbl_row += '<td>';
                  tbl_row += '<p><a href="http://airtickets.mkeda.me/route/' + data[fly].slice[0].slice.split('>').join('') + '">' + data[fly].slice[0].slice + '</a></p>';
                  if (1 in data[fly].slice) {
                    tbl_row += '<p><a href="http://airtickets.mkeda.me/route/' + data[fly].slice[1].slice.split('>').join('') + '">' + data[fly].slice[1].slice + '</a></p>';
                  }
                  tbl_row += '</td>';

                  tbl_body += '<tr class="' + (odd_even ? 'odd' : 'even') + '">' + tbl_row + '</tr>';
                  odd_even = !odd_even;
                }
              }
              $tbody.html(tbl_body);
            },
            error: function(data) {
              $tbody.html(data['status'] + ' ' + data['statusText']);
            },
            complete: function() {
              $submit_btn.prop('disabled', false);
            }
          });

          event.preventDefault();
        });
      }
    </script>
{% endblock content %}
