{% extends parent_template %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block title %}{% trans "Read it later" %}{% endblock %}
{% block description %}{% trans "Save links to read it later" %}{% endblock description %}

{% block content %}
    {% include "modal-form.html" %}

    <div class="container-fluid no-padding row cards-filters">
      <div class="col-md-4">
        <!-- Button trigger modal -->
        <button type="button" class="add-btn btn btn-default btn-md" data-toggle="modal" data-target="#add-item" data-annyang="add link">
          <span class="glyphicon glyphicon-plus"></span> {% trans "Add a link" %}
        </button>
      </div>
      <div class="col-md-4 col-sm-6">
        <ul class="difficulty-filters">
            {% for color in palette %}
                <li><a href="#" class="difficulty-filter color-filter active" style="background-color: #{{ color }};" data-difficulty="{{ color }}"></a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group pull-right">
          <input id="card-search" type="text" class="form-control" placeholder="Search">
        </div>
      </div>
    </div>

    <ul id="links" class="cards sortable list-group">
      {% for category, links in categorized_links %}
        {% trans "No category" as no_category %}
        <div class="links list-group-item"><h4>{{ category|default:no_category }}</h4>
          {% for link in links %}
            <li class="link-container item-container" data-difficulty="{{ link.color }}" data-title="{{ link.link }}" data-id="{{ link.id }}" data-json="{{ link|serialize }}">
              <small class="glyphicon glyphicon-move" aria-hidden="true"></small>
              <a target="_blank" href="{{ link.link }}" class="link" style="font-size: 1.2em; color: #{{ link.color }};" data-toggle="tooltip" data-html="true" title="{% if link.title != None %}<b>{{ link.title }}</b>{% endif %}{% if link.description != None %}<p>{{ link.description }}</p>{% endif %}">
                {{ link.link }}
              </a>
              <a href="/admin/tool/link/{{ link.id }}/change/" class="edit">
                <small class="glyphicon glyphicon-pencil" aria-hidden="true"></small>
              </a>
            </li>
          {% endfor %}
        </div>
      {% endfor %}
    </ul>

    <script type="text/javascript" defer>
      if("undefined" === typeof jQuery) {
        window.onload = function() {
          init_app();
        };
      }
      else {
        init_app();
      }

      function init_app() {
        let $cards_container = $('.links');
        let $this;
        let $difficulty_filters = $('.difficulty-filter');
        let $card_search = $('#card-search');
        let substring;
        let order;
        let result;
        let pk;

        // Dynamically set page title and description.
        document.title = '{% trans "Read it later" %}';
        document.head.querySelector('meta[name=description]').content = '{% trans "Save links to read it later" %}';

        $('.item-container .link').tooltip();

        $('select#id_color').select2({
          minimumResultsForSearch: -1,
          escapeMarkup: function(markup) {
            return '<div style="padding: 0 5px 0 10px; line-height: 26px; color: #' + markup + '; background-color: #' + markup + ';">' + markup + '</div>';
          }
        });
        $('select#id_resolution').select2({width: '150px'});

        $difficulty_filters.click(function() {
          $this = $(this);
          $this.toggleClass('active');
          $cards_container.find('.link-container[data-difficulty=' + $this.data('difficulty') + ']').toggle($this.hasClass('active')).toggleClass('difficulty-hidden');

          return false;
        });

        $card_search.on('input', function(_) {
          substring = this.value;

          $cards_container.find('.link-container:not(.difficulty-hidden)').each(function(_) {
            $this = $(this);
            if ($this.data('title') === substring || $this.data('title').toString().indexOf(substring) !== -1) {
              $this.show();
            }
            else {
              $this.hide();
            }
          });
        });

        $('form .btn.delete').click(function() {
          result = confirm('{% trans "Are you sure you want to delete this link?" %}');
          if (result) {
            pk = $(this).closest('form').find('#id_id').val();
            $.ajax({
              url: "{% url 'links' %}" + '/' + pk,
              type: 'DELETE',
              beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFTOKEN', '{{ csrf_token }}');
              },
              success: function(result) {
                window.location.replace(result.redirect);
              }
            });
          }
          return false;
        });

        $cards_container.sortable().on('sortupdate', function(_, __) {
          if (!$cards_container.hasClass('disabled')) {
            order = {};
            $cards_container.find('.item-container').each(function(index) {
              order[$(this).data('id')] = index;
            });
            $.post("{% url 'link_order' profile_user.username %}", {
              order: JSON.stringify(order),
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            }, function() {
              $cards_container.addClass('disabled');
            })
            .always(function() {
              $cards_container.removeClass('disabled');
            });
          }
        });

      }
    </script>
{% endblock %}
