{% extends parent_template %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{% trans "Profile" %}{% endblock %}
{% block description %}{% trans "User profile" %}{% endblock description %}

{% block content %}
    <div class="bg-white mt-5">
        <div class="profile">
            {% if is_current_user %}
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a class="ajax-link" data-annyang="user profile" href="{% url 'user' profile_user.username %}">
                        {% trans "Profile" %}
                    </a>
                </li>
                <li role="presentation">
                    <a class="ajax-link" data-annyang="user calendar" href="{% url 'user_calendar' profile_user.username %}">
                        {% trans "Calendar" %}
                    </a>
                </li>
                <li role="presentation">
                    <a class="ajax-link" data-annyang="user dictionary" href="{% url 'user_dictionary' profile_user.username %}">
                        {% trans "Dictionary" %}
                    </a>
                </li>
                <li role="presentation">
                    <a class="ajax-link" data-annyang="user cards" href="{% url 'user_flashcards' profile_user.username %}">
                        {% trans "Flashcards" %}
                    </a>
                </li>
                <li role="presentation">
                    <a class="ajax-link" data-annyang="user tasks" href="{% url 'user_tasks' profile_user.username %}">
                        {% trans "Tasks" %}
                    </a>
                </li>
                <li role="presentation">
                    <a class="ajax-link" data-annyang="user canvases" href="{% url 'user_tool' profile_user.username 'canvas' %}">
                        {% trans "Canvases" %}
                    </a>
                </li>
                <li role="presentation">
                    <a class="ajax-link" data-annyang="user snippets" href="{% url 'user_code' profile_user.username %}">
                        {% trans "Code snippets" %}
                    </a>
                </li>
                <li role="presentation">
                    <a class="ajax-link" data-annyang="user links" href="{% url 'user_links' profile_user.username %}">
                        {% trans "Links" %}
                    </a>
                </li>
            </ul>
            {% endif %}
            <div class="col-lg-8 pull-right">
                <div id="profile">
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <div class="form-group row">
                                <div class="col-md-4 float-left"><label for="first_name">{% trans "First name" %}</label></div>
                                <div class="col-md-8 float-right">
                                    {% if is_current_user %}
                                        <a href="#" id="first_name" class="editable" data-type="text" data-pk="first_name" data-url="{% url 'user' profile_user.username %}" data-placeholder="{% trans 'Enter first name' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile_user.first_name }}</a>
                                    {% else %}
                                        {{ profile_user.first_name }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 float-left"><label for="last_name">{% trans "Last name" %}</label></div>
                                <div class="col-md-8 float-right">
                                    {% if is_current_user %}
                                        <a href="#" id="last_name" class="editable" data-type="text" data-pk="last_name" data-url="{% url 'user' profile_user.username %}" data-placeholder="{% trans 'Enter last name' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile_user.last_name }}</a>
                                    {% else %}
                                        {{ profile_user.last_name }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 float-left"><label for="email">{% trans "Email" %}</label></div>
                                <div class="col-md-8 float-right">
                                    {% if is_current_user %}
                                        <a href="#" id="email" class="editable" data-type="email" data-pk="email" data-url="{% url 'user' profile_user.username %}" data-placeholder="{% trans 'Enter email' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile_user.email }}</a>
                                    {% else %}
                                        {{ profile_user.email }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 float-left"><label for="email">{% trans "Phone Number" %}</label></div>
                                <div class="col-md-8 float-right">
                                    {% if is_current_user %}
                                        <a href="#" id="phone_number" class="editable" data-type="tel" data-pk="phone_number" data-url="{% url 'user' profile_user.username %}" data-placeholder="{% trans 'Enter phone number' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile.phone_number }}</a>
                                    {% else %}
                                        {{ profile.phone_number }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 float-left"><label for="timezone">{% trans "Timezone" %}</label></div>
                                <div class="col-md-8 float-right">
                                    {% if is_current_user %}
                                        <a href="#" id="timezone" class="editable" data-type="select" data-value="{{ profile.timezone }}" data-source="{{ timezones }}" data-pk="timezone" data-url="{% url 'user' profile_user.username %}" data-placeholder="{% trans 'Enter email' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile.timezone }}</a>
                                    {% else %}
                                        {{ profile.timezone }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row palette-wrapper">
                                <div class="col-md-12 float-left"><label>{% trans "Palette" %}</label></div>
                                {% for color in palette_colors %}
                                    <div class="col-md-2 float-left palette-item">
                                        {% if is_current_user %}
                                            <a href="#" id="palette_color_{{ forloop.counter }}" class="editable palette-color" style="background-color: #{{ color }}; color: #{{ color }};" data-type="text" data-value="{{ color }}" data-source="{{ color }}" data-pk="color" data-inputclass="jscolor" data-url="{% url 'user' profile_user.username %}" data-placeholder="{% trans 'Enter color' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}"></a>
                                        {% else %}
                                            <div style="background-color: #{{ color }}; color: #{{ color }};">{{ color }}</div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                </div>
            </div>
            <div class="col-lg-4 pull-lg-8 mt-2 text-center">
                {% if is_current_user %}
                    <img src="{{ profile.avatar.url }}" class="m-x-auto img-fluid rounded-circle" alt="avatar">
                    <h5 class="mt-2">{% trans "Upload a different photo" %}</h5>
                    <form action="{% url 'user' profile_user.username %}" method="post" enctype="multipart/form-data" id="avatar-upload">
                        {% csrf_token %}
                        {% for field in form %}
                            <label class="custom-file text-left" for="{{ field.auto_id }}">
                                {{ field|add_class:"custom-file-input" }}
                                <span class="custom-file-control"></span>
                            </label>
                            {% if field.errors %}
                                <div class="alert alert-warning col-sm-9 offset-sm-3" role="alert">
                                  {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </form>
                {% else %}
                    <img src="{{ profile_user.profile.avatar.url }}" class="m-x-auto img-fluid rounded-circle" alt="avatar">
                {% endif %}
            </div>
        </div>
    </div>
    <script>
      if("undefined" === typeof jQuery) {
        window.onload = function() {
          init_app();
        };
      }
      else {
        init_app();
      }

      function init_app() {
        // Dynamically set page title and description.
        document.title = '{% trans "Profile" %}';
        document.head.querySelector('meta[name=description]').content = '{% trans "User profile" %}';

        $('.editable:not(".palette-color")').editable();
        $('.editable.palette-color').editable({onblur: 'ignore'}).on('save', function(e, params) {
            $(this).css('background-color', '#' + params.newValue).css('color', '#' + params.newValue);
        }).on('shown', function(e, editable) {
            // Initialize jscolor.
            jscolor.installByClassName('jscolor');
        });

        $('#avatar-upload').change(function() {
            $(this).submit();
        });
      }
    </script>
{% endblock content %}
