{% extends parent_template %}
{% load i18n %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block title %}{% trans "Profile" %}{% endblock title %}

{% block content %}
    <div class="bg-white mt-5">
        <div class="row  my-2">
            <div class="col-lg-8 pull-right">
                <div id="profile">
                    <h4 class="my-2">{% trans "User Profile" %}</h4>
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <div class="form-group row">
                                <div class="col-md-4 float-left"><label>{% trans "First name" %}</label></div>
                                <div class="col-md-8 float-right">
                                    {% if is_current_user %}
                                    <a href="#" id="first_name" class="editable" data-type="text" data-pk="first_name" data-url="{% url 'update_profile' %}" data-placeholder="{% trans 'Enter first name' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile_user.first_name }}</a>
                                    {% else %}
                                    {{ profile_user.first_name }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 float-left"><label>{% trans "Last name" %}</label></div>
                                <div class="col-md-8 float-right">
                                    {% if is_current_user %}
                                    <a href="#" id="last_name" class="editable" data-type="text" data-pk="last_name" data-url="{% url 'update_profile' %}" data-placeholder="{% trans 'Enter last name' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile_user.last_name }}</a>
                                    {% else %}
                                    {{ profile_user.last_name }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 float-left"><label>{% trans "Email" %}</label></div>
                                <div class="col-md-8 float-right">
                                    {% if is_current_user %}
                                    <a href="#" id="email" class="editable" data-type="email" data-pk="email" data-url="{% url 'update_profile' %}" data-placeholder="{% trans 'Enter email' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile_user.email }}</a>
                                    {% else %}
                                    {{ profile_user.email }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                </div>
            </div>
            <div class="col-lg-4 pull-lg-8 text-center">
                <img src="{{ profile_user.profile.avatar.url }}" class="m-x-auto img-fluid rounded-circle" alt="avatar">
                {% if is_current_user %}
                <h5 class="mt-2">{% trans "Upload a different photo" %}</h5>
                <form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data" id="avatar-upload">
                    {% csrf_token %}
                        {% for field in form %}
                            <label class="custom-file text-left">
                                {{ field|add_class:"custom-file-input" }}
                                <span class="custom-file-control"></span>
                            </label>
                        {% if field.errors %}
                            <div class="alert alert-warning col-sm-9 offset-sm-3" role="alert">
                              {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
  <script>
      // Set up and initialize editable.
      $.fn.editable.defaults.mode = 'inline';
      $('.editable').editable();

      $('#avatar-upload').change(function() {
          console.log('in');
          $(this).submit();
      });
  </script>
{% endblock script %}
