{% extends parent_template %}
{% load i18n %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block title %}{% trans "Profile" %}{% endblock title %}

{% block content %}
    <div class="bg-white mt-5">
        <div class="row  my-2">
            <div class="col-lg-8 pull-right">
                <div id="profile">
                    <h4 class="my-2">{% trans "User Profile" %}</h4>
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <div class="form-group row">
                                <div class="col-md-4 float-left"><label>{% trans "First name" %}</label></div>
                                <div class="col-md-8 float-right">
                                    {% if is_current_user %}
                                        <a href="#" id="first_name" class="editable" data-type="text" data-pk="first_name" data-url="{% url 'update_profile' %}" data-placeholder="{% trans 'Enter first name' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile_user.first_name }}</a>
                                    {% else %}
                                        {{ profile_user.first_name }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 float-left"><label>{% trans "Last name" %}</label></div>
                                <div class="col-md-8 float-right">
                                    {% if is_current_user %}
                                        <a href="#" id="last_name" class="editable" data-type="text" data-pk="last_name" data-url="{% url 'update_profile' %}" data-placeholder="{% trans 'Enter last name' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile_user.last_name }}</a>
                                    {% else %}
                                        {{ profile_user.last_name }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 float-left"><label>{% trans "Email" %}</label></div>
                                <div class="col-md-8 float-right">
                                    {% if is_current_user %}
                                        <a href="#" id="email" class="editable" data-type="email" data-pk="email" data-url="{% url 'update_profile' %}" data-placeholder="{% trans 'Enter email' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile_user.email }}</a>
                                    {% else %}
                                        {{ profile_user.email }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 float-left"><label>{% trans "Timezone" %}</label></div>
                                <div class="col-md-8 float-right">
                                    {% if is_current_user %}
                                        <a href="#" id="timezone" class="editable" data-type="select" data-value="{{ profile.timezone }}" data-source='{{ timezones }}' data-pk="timezone" data-url="{% url 'update_profile' %}" data-placeholder="{% trans 'Enter email' %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ profile.timezone }}</a>
                                    {% else %}
                                        {{ profile_user.profile.timezone }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                </div>
            </div>
            <div class="col-lg-4 pull-lg-8 text-center">
                {% if is_current_user %}
                    <img src="{{ profile.avatar.url }}" class="m-x-auto img-fluid rounded-circle" alt="avatar">
                    <h5 class="mt-2">{% trans "Upload a different photo" %}</h5>
                    <form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data" id="avatar-upload">
                        {% csrf_token %}
                            {% for field in form %}
                                <label class="custom-file text-left">
                                    {{ field|add_class:"custom-file-input" }}
                                    <span class="custom-file-control"></span>
                                </label>
                            {% if field.errors %}
                                <div class="alert alert-warning col-sm-9 offset-sm-3" role="alert">
                                  {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </form>
                {% else %}
                    <img src="{{ profile_user.profile.avatar.url }}" class="m-x-auto img-fluid rounded-circle" alt="avatar">
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
      if("undefined" == typeof jQuery) {
        window.onload = function() {
          init_app();
        };
      }
      else {
        init_app();
      }
      function init_app() {
        $('.editable').editable();

        $('#avatar-upload').change(function() {
            $(this).submit();
        });
      }
    </script>
{% endblock content %}
