{% extends parent_template %}
{% load i18n %}
{% load widget_tweaks %}
{% load static from staticfiles %}
{% block content %}
    <!-- Modal -->
    <div class="modal{% if form.errors %} error{% endif %}" id="add-card" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="add-card-label">{% trans "Add task" %}</h4>
          </div>
          <div class="modal-body">
            <form action="{{ form_action }}" method="post" class="add-form clearfix form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ field }}
                        </div>
                        {% if field.errors %}
                            <div class="alert alert-warning col-sm-10 pull-right" role="alert">
                              {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                  <button type="submit" class="btn btn-primary btn-md pull-right">{% trans "Save" %}</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid no-padding row cards-filters">
      <div class="col-md-4">
        <!-- Button trigger modal -->
        <button type="button" class="add-btn btn btn-default btn-md" data-toggle="modal" data-target="#add-card" data-annyang="add task">
          <span class="glyphicon glyphicon-plus"></span> {% trans "Add task" %}
        </button>
      </div>
      <div class="col-md-4 col-sm-6">
        <ul class="difficulty-filters">
            {% for color in palette %}
                <li><a href="#" class="difficulty-filter color-filter active" style="background-color: #{{ palette|get_item:color }};" data-difficulty="{{ color }}"></a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="input-group pull-right">
          <input id="card-search" type="text" class="form-control" placeholder="Search">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div>
    <div id="cards" class="row">
        {% for key, tasks in tasks_dict %}
            <div class="col-md-4">
                <h4 class="text-center">{{ key }}</h4>
                <div class="col-md-12 sortable no-padding" data-status="{{ key }}">
                {% for task in tasks %}
                <div class="card-container col-md-12 no-padding" data-difficulty="{{ task.color }}" data-title="{{ task.title }}" data-id="{{ task.id }}">
                    <div>
                        <div class="card" style="background-color: #{{ palette|get_item:task.color }};" >
                            <div class="face front task">
                                <h4 class="list-group-item-heading">{{ task.title }}</h4>
                                <a href="admin/tool/task/{{ task.id }}/change/" class="edit">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <p class="list-group-item-text">{{ task.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript" defer>
      if("undefined" == typeof jQuery) {
        window.onload = function() {
          init_app();
        };
      }
      else {
        init_app();
      }

      function init_app() {
        var $cards;
        var $cards_container = $('#cards');
        var $this;
        var $difficulty_filters = $('.difficulty-filter');
        var $card_search = $('#card-search');
        var substring;
        var order;

        function change_tasks_order($cards) {
          if (!$cards.hasClass('disabled')) {
            order = {};
            $cards.find('.card-container').each(function(index) {
              if ($(this).data('id')) {
                order[$(this).data('id')] = index;
              }
            });
            $.post("{% url 'task_order' user.username %}", {
              order: JSON.stringify(order),
              status: $cards.data('status'),
              'csrfmiddlewaretoken': '{{ csrf_token }}'
            }, function() {
              $cards.addClass('disabled');
            })
            .always(function() {
              $cards.removeClass('disabled');
            });
          }
        }

        $('select#id_color').select2({
          minimumResultsForSearch: -1,
          escapeMarkup: function(markup) {
            return '<div style="padding: 0 5px 0 10px; line-height: 26px; color: #' + markup + '; background-color: #' + markup + ';">' + markup + '</div>';
          }
        });

        $('.sortable').sortable({
          placeholderClass: 'col-md-6',
          connectWith: '.sortable'
        }).on('sortupdate', function(e, ui) {
          change_tasks_order(ui.item.parent());
        }).on('sortconnect', function(e, ui) {
          $cards = ui.item.parent();
          if (!$cards.hasClass('disabled') && ui.item.index() == 0) {
            change_tasks_order($cards);
          }
        });

        $difficulty_filters.click(function() {
          $this = $(this);
          $this.toggleClass('active');
          $cards_container.find('.card-container[data-difficulty=' + $this.data('difficulty') + ']').toggle().toggleClass('difficulty-hidden');

          return false;
        });

        $card_search.on('input', function(e) {
          substring = this.value;

          $cards_container.find('.card-container:not(.difficulty-hidden)').each(function(index) {
            $this = $(this);
            if ($this.data('title') == substring || $this.data('title').indexOf(substring) !== -1) {
              $this.show();
            }
            else {
              $this.hide();
            }
          });
        });
      }
    </script>
{% endblock %}
